body {
    background: #26273d;
}

.sidebar {
    position: fixed;
    height: 100%;
    overflow: hidden;
    width: 200px;
}

.siderbar nav {
    width: 100%;
}

.text-white {
    color: #9fa0ca !important;
}

.shadow-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow-box-downloaded {
    box-shadow: 0 4px 8px 0 rgba(33, 222, 171, 0.2), 0 6px 20px 0 rgba(33, 222, 171, 0.19);
}

.shadow-box-not-downloaded {
    box-shadow: 0 4px 8px 0 rgba(108, 102, 251, 0.2), 0 6px 20px 0 rgba(108, 102, 251, 0.19);
}

.text-smoke {
    color: #fafafa !important;
}

.content-container {
    width: calc(100% - 200px);
    margin-left: 200px;
}

.audio-player {
    position: fixed;
    bottom: 0;
    z-index: 1020;
    width: calc(100% - 200px);
    margin-left: 200px;
    display: inline-block;
}

.side-nav-btn {
    padding: 2em 3em;
    color: #8081a5;
}

.side-nav-btn:link {
    color: #8081a5;
}

.side-nav-btn:visited {
    color: #8081a5;
}

.side-nav-btn:hover {
    color: #6c66fb;
    background: #e6e6e6;
}

.side-nav-btn:active {
    color: #8081a5;
}

.side-nav-btn-active {
    color: #6c66fb !important;
    background-color: #1d1e2f;
}

.bg-middle {
    background-color: #2f2e4b !important;
}

.bg-dark {
    background-color: #232538 !important;
}

.song-item {
    border-radius: 10px;
    background-color: #25263b !important;
}

.playlist-item {
    border-radius: 10px;
    background-color: #25263b !important;
    border: 1px solid transparent;
}

.square-icon {
    padding: 10px;
    margin: 0px;
    height: 3em;
    width: 3em;
}

.playlist-item:hover {
    cursor: pointer;
    border: 1px solid #44bbee;
}

.search-top-shift {
    position: relative;
    top: 40vh;
    transition: top 1s ease-in-out;
}

.search-top-shift-not-empty {
    top: 2vh;
}

.col-lg-0-5 {
    -ms-flex: 0 0 4.166666%;
    flex: 0 0 4.166666%;
    max-width: 4.166666%;
}


/*Btn outline danger*/

.btn-outline-danger {
    color: #6c66fb;
    background-color: transparent;
    background-image: none;
    border-color: #6c66fb;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #6c66fb;
    border-color: #6c66fb;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 102, 251, 0.5);
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
    color: #6c66fb;
    background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show>.btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #6c66fb;
    border-color: #6c66fb;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 102, 251, 0.5);
}


/*Btn outline success*/

.btn-outline-success {
    color: #21deab;
    border-color: #21deab;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #21deab;
    border-color: #21deab;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 222, 171, 0.5);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
    color: #21deab;
    background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #21deab;
    border-color: #21deab;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 222, 171, 0.5);
}


/*Btn outline info*/

.btn-outline-info {
    color: #44bbee;
    border-color: #44bbee;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #44bbee;
    border-color: #44bbee;
}

.btn-outline-info:focus,
.btn-outline-info.focus {
    box-shadow: 0 0 0 0.2rem rgba(68, 187, 238, 0.5);
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
    color: #44bbee;
    background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show>.btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #44bbee;
    border-color: #44bbee;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(68, 187, 238, 0.5);
}


/* Button media player*/

.btn-audio-player {
    padding: .375rem .5rem;
    color: #fff;
    background-color: transparent;
}

.btn-audio-player:hover {
    color: #48a0f7;
}

.btn-audio-player:not(:disabled):not(.disabled):active,
.btn-audio-player:not(:disabled):not(.disabled).active,
.show>.btn-audio-player.dropdown-toggle {
    color: #48a0f7;
}

.btn-audio-player:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
}


/* toggle button radio input */

.tgl {
    display: none;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl+.tgl-btn {
    box-sizing: border-box;
}

.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl+.tgl-btn::-moz-selection {
    background: none;
}

.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl+.tgl-btn::selection {
    background: none;
}

.tgl+.tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tgl+.tgl-btn:after,
.tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.tgl+.tgl-btn:after {
    left: 0;
}

.tgl+.tgl-btn:before {
    display: none;
}

.tgl:checked+.tgl-btn:after {
    left: 50%;
}

.tgl-light+.tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
}

.tgl-light+.tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all .2s ease;
}

.tgl-light:checked+.tgl-btn {
    background: #9FD6AE;
}

.tgl-ios+.tgl-btn {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
    border: 1px solid #e8eae9;
}

.tgl-ios+.tgl-btn:after {
    border-radius: 2em;
    background: #fbfbfb;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.tgl-ios+.tgl-btn:hover:after {
    will-change: padding;
}

.tgl-ios+.tgl-btn:active {
    box-shadow: inset 0 0 0 2em #e8eae9;
}

.tgl-ios+.tgl-btn:active:after {
    padding-right: .8em;
}

.tgl-ios:checked+.tgl-btn {
    background: #86d993;
}

.tgl-ios:checked+.tgl-btn:active {
    box-shadow: none;
}

.tgl-ios:checked+.tgl-btn:active:after {
    margin-left: -.8em;
}

.tgl-skewed+.tgl-btn {
    overflow: hidden;
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .2s ease;
    font-family: sans-serif;
    background: #888;
}

.tgl-skewed+.tgl-btn:after,
.tgl-skewed+.tgl-btn:before {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
    display: inline-block;
    transition: all .2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.tgl-skewed+.tgl-btn:after {
    left: 100%;
    content: attr(data-tg-on);
}

.tgl-skewed+.tgl-btn:before {
    left: 0;
    content: attr(data-tg-off);
}

.tgl-skewed+.tgl-btn:active {
    background: #888;
}

.tgl-skewed+.tgl-btn:active:before {
    left: -10%;
}

.tgl-skewed:checked+.tgl-btn {
    background: #86d993;
}

.tgl-skewed:checked+.tgl-btn:before {
    left: -100%;
}

.tgl-skewed:checked+.tgl-btn:after {
    left: 0;
}

.tgl-skewed:checked+.tgl-btn:active:after {
    left: 10%;
}

.tgl-flat+.tgl-btn {
    padding: 2px;
    transition: all .2s ease;
    background: #fff;
    border: 4px solid #f2f2f2;
    border-radius: 2em;
}

.tgl-flat+.tgl-btn:after {
    transition: all .2s ease;
    background: #f2f2f2;
    content: "";
    border-radius: 1em;
}

.tgl-flat:checked+.tgl-btn {
    border: 4px solid #d25ff3;
}

.tgl-flat:checked+.tgl-btn:after {
    left: 50%;
    background: #d25ff3;
}

.tgl-flip+.tgl-btn {
    padding: 2px;
    transition: all .2s ease;
    font-family: sans-serif;
    -webkit-perspective: 100px;
    perspective: 100px;
}

.tgl-flip+.tgl-btn:after,
.tgl-flip+.tgl-btn:before {
    display: inline-block;
    transition: all .4s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
}

.tgl-flip+.tgl-btn:after {
    content: attr(data-tg-on);
    background: #44bbee;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.tgl-flip+.tgl-btn:before {
    background: #44bbee;
    content: attr(data-tg-off);
}

.tgl-flip+.tgl-btn:active:before {
    -webkit-transform: rotateY(-20deg);
    transform: rotateY(-20deg);
}

.tgl-flip:checked+.tgl-btn:before {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.tgl-flip:checked+.tgl-btn:after {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    left: 0;
    background: #d25ff3;
}

.tgl-flip:checked+.tgl-btn:active:after {
    -webkit-transform: rotateY(20deg);
    transform: rotateY(20deg);
}


/* Custom btn redesign */

.custom-file-label::after {
    color: #fff;
    background-color: #44bbee;
    border-color: #44bbee;
}