<div class="container-fluid px-0 bg-middle">
    <div class="row">
        <div class="col-lg-2 text-smoke text-center my-auto text-truncate">
            <span id="soundBoxAudioPlayerPlaylistName"></span>
        </div>
        <div class="col-lg-3 text-smoke text-center my-auto text-truncate">
            <span class="px-2" id="soundBoxAudioPlayerSongName"></span>
        </div>
        <div class="col-lg-0-5 text-right my-auto px-1">
            <button class="btn btn-audio-player" type="button" ng-click="c.previousSong()"><i class="fa fa-step-backward"></i></button>
        </div>
        <div class="col-lg-6 px-0">
            <audio id="soundBoxAudioPlayer" style="width: 100%; background-color: #807cff;" controls>
                <source src="" type="audio/mpeg" />
            </audio>
        </div>
        <div class="col-lg-0-5 text-left my-auto px-1">
            <button class="btn btn-audio-player" type="button" ng-click="c.nextSong()"><i class="fa fa-step-forward"></i></button>
        </div>
    </div>
</div>