<div class="row">
    <div class="col-lg-12 text-right">
        <div style="display: inline-block">
            <input class="tgl tgl-flip" type="checkbox" id="playlistFilterToggle" />
            <label class="tgl-btn" data-tg-off="Private" data-tg-on="Public" for="playlistFilterToggle" ng-click="c.toggleClicked()"></label>
        </div>
    </div>
</div>