<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-12 mt-sm-1 mt-md-3 mt-lg-5">
            <form name="c.newPlaylistForm" ng-submit="submitForm(c.newPlaylistForm.$valid)" novalidate>

                <fieldset class="form-group"
                    ng-class="{ 'has-error' : c.newPlaylistForm.name.$invalid && !c.newPlaylistForm.name.$pristine }">
        
                    <label class="text-smoke">Name</label>
                    <input class="form-control" type="text" name="name" ng-model="name" placeholder="Playlist name"
                        ng-minlength="4" ng-maxlength="50" required />
                    <p ng-show="c.newPlaylistForm.name.$error.minlength" class="help-block text-smoke">Playlist name is too short! Minimum 4
                        characters required!</p>
                    <p ng-show="c.newPlaylistForm.name.$error.maxlength" class="help-block text-smoke">Playlist name is too long! Maximum 50
                        characters allowed!</p>
                </fieldset>

                <fieldset class="form-group"
                    ng-class="{ 'has-error' : c.newPlaylistForm.name.$invalid && !c.newPlaylistForm.name.$pristine }">
        
                    <label class="text-smoke">Type</label>
                    <select class="form-control" name="shared" ng-model="data.selectedShared" ng-options="she.text for she in data.shared track by she.value">
                        <option value="private">Private</option>
                        <option value="public">Public</option>
                    </select>
                </fieldset>

                <fieldset class="form-group text-center">
                    <button class="btn btn-outline-success" ng-click="c.createNewPlaylist()" ng-disabled="c.newPlaylistForm.$invalid">Create</button>
                </fieldset>

            </form>
        </div>
    </div>
</div>