<div class="container">
    <playlist-filter></playlist-filter>
    <div class="row">
        <playlist-item class="col-lg-4" data="playlist" ng-repeat="playlist in c.playlists"></playlist-item>
    </div>
</div>