<div class="text-smoke playlist-item shadow-box w-90 mx-auto text-center mt-4" ng-click="c.showPlaylistInfo()">
    <div class="w-100" style="font-size: 2rem;">
        <span class="fa-layers fa-fw fa-4x">
			<i class="fas fa-square-full" data-fa-transform="shrink-8 right-4 down-2.7" data-fa-mask="fas fa-bars"></i>
			<i class="fas fa-music" data-fa-transform="shrink-8 right-6 down-3"></i>
		</span>
    </div>
    <div class="w-90 mx-auto pb-2">
        <h2>{{c.data.name}}</h2>
    </div>
</div>
