<form name="c.searchForm" ng-submit="submitForm(c.searchForm.$valid)" novalidate>
  <fieldset class="input-group mb-3" ng-show="c.categoryfilter">
    <div class="input-group-prepend">
      <label class="input-group-text"
        style="background-color:transparent;border: 1px solid #d25ff3; color: #d25ff3">Category</label>
    </div>
    <select class="form-control" name="category" ng-model="data.selectedCategory"
      ng-options="cat.name for cat in data.categories track by cat._id">
    </select>
  </fieldset>
  <fieldset class="input-group shadow-box">
    <input type="text" name="searchText" ng-model="searchText" class="form-control" placeholder="Enter text for search">
    <div class="input-group-append">
      <button class="btn btn-outline-success" ng-click="c.search()" type="button" ng-disabled="c.searchIsDisabled()">Search</button>
    </div>
  </fieldset>
</form>