<div class="row my-2 song-item text-smoke" ng-class="c.downloadedClass()">
    <div class="col-lg-4 my-2">
        <picture>
            <img class="rounded mx-auto d-block rounded" src="{{c.data.thumbnail}}" alt="{{c.data.title}}">
        </picture>
    </div>
    <div class="col-lg-7 my-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>{{c.data.title}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>{{c.data.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 mt-4 mb-2">
        <div ng-hide="c.controls">
            <button class="btn btn-outline-info" data-toggle="modal" data-target="#{{c.data.videoId}}"
                ng-disabled="c.playlistsEmpty()" type="button"><i class="fa fa-plus"></i></button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="{{c.data.videoId}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-middle text-smoke">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add to playlist</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="c.addToPlaylistForm" ng-submit="submitForm(c.addToPlaylistForm.$valid)" novalidate>

                        <fieldset class="form-group"
                            ng-class="{ 'has-error' : c.addToPlaylistForm.playlist.$invalid && !c.addToPlaylistForm.playlist.$pristine }">

                            <label class="text-smoke">Playlist</label>
                            <select class="form-control" name="playlist" ng-model="data.selectedPlaylist"
                                ng-options="pla.name for pla in data.playlists track by pla._id">
                            </select>
                        </fieldset>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-success" data-toggle="modal"
                        data-target="#{{c.data.videoId}}" ng-click="c.addToPlaylist()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>