<div class="container">
    <div class="row py-5">
        <div class="col-lg-10">
            <h2 class="text-smoke">Playlist: {{c.playlist.name}}</h2>
        </div>
        <div class="col-lg-2 text-right">
            <button ng-click="c.playPlaylist()" class="btn btn-outline-info square-icon" type="button">
                <i class="fa fa-play-circle"></i>
            </button>
        </div>
    </div>
    <div class="row mb-5">
        <audio-list playlistsongs="c.playlist.songs"></audio-list>
    </div>
</div>