<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <playlist-form></playlist-form>
            <playlist-list></playlist-list>
        </div>
    </div>
</div>