<div id="login-form">

    <h3>Login</h3>

    <form name="c.newUserForm" ng-submit="submitForm(c.newUserForm.$valid)" novalidate>

        <fieldset class="form-group"
            ng-class="{ 'has-error' : c.newUserForm.username.$invalid && !c.newUserForm.username.$pristine }">

            <label>Username</label>
            <input class="form-control" type="text" name="username" ng-model="username" placeholder="Username"
                ng-minlength="4" required />
            <p ng-show="c.newUserForm.username.$error.minlength" class="help-block">Username is too short! Minimum 4
                characters required!</p>

        </fieldset>


        <fieldset class="form-group"
            ng-class="{ 'has-error' : c.newUserForm.password.$invalid && !c.newUserForm.password.$pristine }">

            <label>Password:</label>
            <input class="form-control" type="password" name="password" ng-model="password" placeholder="Password"
                required />
            <p ng-show="c.newUserForm.password.$invalid && !c.newUserForm.password.$pristine" class="help-block">Password is
                required!</p>

        </fieldset>


        <fieldset class="form-group"
            ng-class="{ 'has-error' : c.newUserForm.passwordRepeat.$invalid && !c.newUserForm.passwordRepeat.$pristine }">

            <label>Repeat password:</label>
            <input class="form-control" type="password" name="passwordRepeat" ng-model="passwordRepeat"
                placeholder="Repeat password" required />
            <p ng-show="c.newUserForm.passwordRepeat.$invalid && !c.newUserForm.passwordRepeat.$pristine" class="help-block">
                Please repeat the password!</p>
                <p ng-show="c.newUserForm.passwordRepeat.$modelValue !== c.newUserForm.password.$modelValue" class="help-block">
                    Password doesn't match!</p>

        </fieldset>


        <fieldset class="form-group" ng-class="{ 'has-error' : c.newUserForm.firstname.$invalid && !c.newUserForm.firstname.$pristine }">

            <label>First name</label>
            <input class="form-control" type="text" name="firstname" ng-model="firstname" placeholder="First name" required />
            <p ng-show="c.newUserForm.firstname.$invalid && !c.newUserForm.firstname.$pristine" class="help-block">First name is required!</p>

        </fieldset>

        <fieldset class="form-group" ng-class="{ 'has-error' : c.newUserForm.lastname.$invalid && !c.newUserForm.lastname.$pristine }">

            <label>Last name</label>
            <input class="form-control" type="text" name="lastname" ng-model="lastname" placeholder="Last name" required />
            <p ng-show="c.newUserForm.lastname.$invalid && !c.newUserForm.lastname.$pristine" class="help-block">Last name is required!</p>

        </fieldset>


        <fieldset class="form-group" ng-class="{ 'has-error' : c.newUserForm.email.$invalid && !c.newUserForm.email.$pristine }">

            <label>E-mail</label>
            <input class="form-control" type="email" name="email" ng-model="email" placeholder="E-mail" required />
            <p ng-show="c.newUserForm.email.$invalid && !c.newUserForm.email.$pristine" class="help-block">Enter a valid email!
            </p>

        </fieldset>


        <button class="btn btn-success" ng-click="c.register()" ng-disabled="c.newUserForm.$invalid">Register!</button>


    </form>
    <a href="" ng-click="c.redirectToLogin()">Back to login form</a>

</div>