<div class="container text-center text" style="margin-left: 0px">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-sm-1 mt-md-3 mt-lg-5">
            <div class="mt-sm-1 mt-md-3 mt-lg-5" id="login-form">
                <h2 class="text-white">Login</h2>
                <fieldset class="form-group">

                    <label class="text-white">Username</label>
                    <input class="form-control" type="text" ng-model="c.loginData.username" placeholder="Username" />

                </fieldset>
                <fieldset class="form-group">
                    <label class="text-white">Password</label>
                    <input class="form-control" type="password" ng-model="c.loginData.password"
                        placeholder="Password" />

                </fieldset>
                <button class="btn btn-outline-success" ng-click="c.login()">Login!</button>
                <button class="btn btn-outline-warning" ng-click="c.redirectToRegister()">Register!</button>
            </div>
        </div>
    </div>
</div>