<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <search categoryfilter="true" class="search-top-shift" ng-class="c.getShiftAnimation()"></search>
            <audio-list class="search-top-shift" ng-class="c.getShiftAnimation()"></audio-list>
        </div>
    </div>
</div>